<div class="card my-1">
  <div class="card-header">
    Filters
  </div>
  <div class="card-body">
    <div class="md-form">
      <input mdbInputDirective type="text" id="sdc" class="form-control">
      <label for="sdc" class="">Skills,Designation,Company</label>
    </div>
    <div class="md-form">
      <input mdbInputDirective type="text" id="loc" class="form-control">
      <label for="loc" class="">Location</label>
    </div>
  </div>
  <a mdbBtn color="warning" size="md" class="waves-light" mdbWavesEffect>Search</a>
</div>