<p-card header="{{postDetail.position}}" subheader="{{postDetail.company}}" styleClass="mb-1 ui-card-shadow">
  <button type="button" class="btn btn-outline-danger float-right"
    (click)="deletePost(postDetail.postID)">Delete</button>
  <p class="card-text">
    <i class="fa fa-briefcase mr-1" aria-hidden="true"></i>
    {{postDetail.minExp}}-{{postDetail.maxExp}}
    Years
  </p>
  <p class="card-text">
    <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>
    {{postDetail.location}}
  </p>
  <p class="card-text">
    <i class="fa fa-file-text mr-1" aria-hidden="true"></i>
    {{postDetail.description}}
  </p>
  <p-footer>
    <p class="text-muted">Referral Requests</p>
    <p class="text-uppercase">
      <a class="text-warning font-weight-bold" href="JavaScript:Void(0);">User1</a>
    </p>
  </p-footer>
</p-card>