<!--Job Referral Start-->
<p-card header="{{userPostDetail.postDetail.position}}" subheader="{{userPostDetail.postDetail.company}}"
  styleClass="mb-1 ui-card-shadow">
  <p class="card-text">
    <i class="fa fa-briefcase mr-1" aria-hidden="true"></i>
    {{userPostDetail.postDetail.minExp}}-{{userPostDetail.postDetail.maxExp}}
    Years
  </p>
  <p class="card-text">
    <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>
    {{userPostDetail.postDetail.location}}
  </p>
  <p class="card-text">
    <i class="fa fa-info-circle mr-2" aria-hidden="true"></i>
    <a class="text-info font-weight-bold" href="JavaScript:Void(0);" (click)="displayJobDetails()">Details</a>
  </p>
  <p-footer>
    <p class="text-muted">Posted By</p>
    <p class="text-uppercase">
      {{userPostDetail.userDetail.firstName}} {{userPostDetail.userDetail.lastName}}
    </p>
  </p-footer>
</p-card>

<!--Request Referral Modal Start-->

<div bsModal #requestReferralModal="bs-modal" class="modal right fade" tabindex="-1">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Request Referral</h4>
        <button type="button" class="close pull-right" (click)="hideModal()">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="to">To</label>
          <input type="text" class="form-control" id="to" placeholder="To" name="to" [(ngModel)]="this.referral.to"
            readonly>
        </div>
        <div class="form-group">
          <label for="subject">Subject</label>
          <textarea class="form-control" id="subject" placeholder="Subject" rows="2" name="subject"
            [(ngModel)]="this.referral.subject"></textarea>
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <p-editor [(ngModel)]="this.referral.message" [style]="{'height':'320px'}"></p-editor>
        </div>
      </div>
      <div class="modal-footer">
        <button pButton type="button" label="Send" class="ui-button-raised ui-button-warning mr-1"
          (click)="sendReferralRequest()"></button>
        <button pButton type="button" label="Close" class="ui-button-raised ui-button-secondary mr-1"
          (click)="hideModal()"></button>
      </div>
    </div>
  </div>
</div>
<!--Request Referral Modal End-->

<p-dialog header="Details" [(visible)]="displayJobDetail" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <div class="col">
    <div class="row">
      <p><strong>Job Description</strong></p>
      <p [innerHtml]="userPostDetail.postDetail.description | safeHtml"></p>
    </div>
    <div class="row">
      <p><strong>Attachments</strong></p>
      <p></p>
    </div>
  </div>
  <p-footer>
    <button pButton type="button" label="Request Referral" class="ui-button-raised ui-button-warning"
      (click)="requestReferral()"></button>
    <button pButton type="button" label="Close" class="ui-button-raised ui-button-secondary"
      (click)="displayJobDetail=false"></button>
  </p-footer>
</p-dialog>