<!--Job Referral Start-->
<p-card header="{{userPostDetail.postDetail.position}}" subheader="{{userPostDetail.postDetail.company}}"
  styleClass="mb-1 ui-card-shadow">
  <p class="card-text">
    <i class="fa fa-briefcase mr-1" aria-hidden="true"></i>
    {{userPostDetail.postDetail.minExp}}-{{userPostDetail.postDetail.maxExp}}
    Years
  </p>
  <p class="card-text">
    <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>
    {{userPostDetail.postDetail.location}}
  </p>
  <p class="card-text">
    <i class="fa fa-file-text mr-1" aria-hidden="true"></i>
    {{userPostDetail.postDetail.description}}
  </p>
  <p-footer>
    <p class="text-muted">Posted By</p>
    <p class="text-uppercase">
      {{userPostDetail.userDetail.firstName}} {{userPostDetail.userDetail.lastName}}
      <a class="text-warning font-weight-bold float-right" href="JavaScript:Void(0);"
        (click)="requestReferral()">Request
        Referral</a>
    </p>
  </p-footer>
</p-card>

<!--Request Referral Modal Start-->
<p-sidebar [(visible)]="display" position="right" [showCloseIcon]="false" [blockScroll]="true"
  styleClass="ui-sidebar-md custom-sidebar">
  <div class="sidebar-header">
    <p class="h5"><strong>Request Referral</strong></p>
  </div>
  <div class="sidebar-body">
    <div class="form-group">
      <label for="to">To</label>
      <input type="text" class="form-control" id="to" placeholder="To" name="to" [(ngModel)]="this.referral.to"
        readonly>
    </div>
    <div class="form-group">
      <label for="subject">Subject</label>
      <textarea class="form-control" id="subject" placeholder="Subject" rows="2" name="subject"
        [(ngModel)]="this.referral.subject"></textarea>
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea class="form-control" id="message" placeholder="Message" rows="7" name="message"
        [(ngModel)]="this.referral.message"></textarea>
    </div>
  </div>
  <div class="sidebar-footer">
    <button type="button" class="btn btn-warning mr-1" (click)="sendReferralRequest()">Send</button>
    <button type="button" class="btn btn-light mr-1" (click)="display=false">Close</button>
  </div>
</p-sidebar>
<!--Request Referral Modal End-->