<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
            <h2>Refer Me</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
            <form class="form-inline">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    <span class="icon-class"><i class="fa fa-envelope-square fa-lg"></i></span>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                    <span class="icon-class"><i class="fa fa-key fa-lg"></i></span>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>