<!--Header start-->
<div class="container-fluid header">
    <a href="/" class="logo">{{applicationHeader}}</a>
    <div class="header-right">
        <form class="form-inline">
            <label for="lgnemail">Email: </label>
            <input type="email" class="form-control" id="lgnemail" name="email" [(ngModel)]="loginDetail.username">
            <label for="lgnpwd">Password: </label>
            <input type="password" class="form-control" id="lgnpwd" name="pwd" [(ngModel)]="loginDetail.password">
            <a mdbBtn color="warning" size="lg" class="waves-light" mdbWavesEffect (click)="login()">Login</a>
        </form>
    </div>
</div>
<!--Header end-->

<!--Body start-->
<div class="container-fluid body">
    <div class="row">
        <!--Left Section-->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card-body">
                <p class="card-text">
                    This group is made of thousands of experienced and novice professionals.
                    Our mission is to share job referrals.This is where we unite online to help each other with job
                    referrals and develope a network.
                    You SHOULD use this group to:
                    <br>1. Post job referrals
                    <br>2. To ask for job referrals
                </p>
            </div>
            <div>
                <img class="center" src="assets/images/ReferMeHomePage.png" alt="Refere Me">
            </div>
        </div>
        <!--Left Section-->
        <!--Right Section-->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card-body">
                <div class="container">
                    <h3>Create an account</h3>
                    <form>
                        <input type="text" class="form-control col-lg-8 col-md-8 col-sm-12 col-xs-12"
                            placeholder="Enter first name" name="firstname">
                        <input type="text" class="form-control col-lg-8 col-md-8 col-sm-12 col-xs-12"
                            placeholder="Enter last name" name="lastname">
                        <input type="email" class="form-control col-lg-8 col-md-8 col-sm-12 col-xs-12"
                            placeholder="Enter email" name="email">
                        <input type="text" class="form-control col-lg-8 col-md-8 col-sm-12 col-xs-12"
                            placeholder="Enter mobile" name="mobile">
                        <input type="password" class="form-control col-lg-8 col-md-8 col-sm-12 col-xs-12"
                            placeholder="Enter password" name="pwd">
                        <input type="password" class="form-control col-lg-8 col-md-8 col-sm-12 col-xs-12"
                            placeholder="Retype password" name="repwd">
                        <label class="radio-inline"><input type="radio" name="optradio" checked>Male </label>
                        <label class="radio-inline"><input type="radio" name="optradio">Female</label>
                        <br>
                        <a mdbBtn color="warning" size="lg" class="waves-light" mdbWavesEffect>Submit</a>
                    </form>
                </div>
            </div>
        </div>
        <!--Right Section-->
    </div>
</div>
<!--Body end-->

<!--Footer start-->
<div class="container-fluid login-footer">
</div>
<!--Footer end-->