<div class="card my-1">
  <div class="card-header">
    Filters
  </div>
  <div class="card-body">
    <div class="my-3">
      <span class="ui-float-label">
        <input id="filter-sdc" type="text" size="30" pInputText>
        <label for="filter-sdc">Skills,Designation,Company</label>
      </span>
    </div>
    <div class="my-3">
      <span class="ui-float-label">
        <input id="filter-location" type="text" size="30" pInputText>
        <label for="filter-location">Location</label>
      </span>
    </div>
    <div class="my-3">
      <p-dropdown [options]="experience" [(ngModel)]="selectedExperience" [showClear]="true"></p-dropdown>
    </div>
    <div class="my-3">
      <p-dropdown [options]="salary" [(ngModel)]="selectedSalary" [showClear]="true"></p-dropdown>
    </div>
  </div>

  <button type="button" class="btn btn-warning">Search</button>
</div>