<div class="main-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="/">ReferMe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="appUser.userRole=='ADMIN'">
                    <a class="nav-link" routerLink="/home/dashboard">
                        <i class="fa fa-home mr-1" aria-hidden="true"></i>Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="appUser.userRole=='ADMIN'">
                    <a class="nav-link" routerLink="/home/manageusers">
                        <i class="fa fa-users mr-1" aria-hidden="true"></i>Users
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home/jobs">
                        <i class="fa fa-briefcase mr-1" aria-hidden="true"></i>Jobs
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="appUser.userRole=='MODERATOR' || appUser.userRole=='ADMIN'">
                    <a class="nav-link" routerLink="/home/posts">
                        <i class="fa fa-bullhorn mr-1" aria-hidden="true"></i>Posts
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="JavaScript:Void(0);" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user mr-1"></i> {{appUser.emailAddress}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="JavaScript:Void(0);" (click)="logout()">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>