<div class="card">
  <div class="card-body">
    <h5 class="card-title">Job Filters</h5>
    <div class="md-form">
      <input mdbInputDirective type="text" id="sdc" class="form-control">
      <label for="sdc" class="">Skills,Designation,Company</label>
    </div>
    <div class="md-form">
      <input mdbInputDirective type="text" id="loc" class="form-control">
      <label for="loc" class="">Location</label>
    </div>
    <div class="my-3">
      <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <p-dropdown [options]="experience" [(ngModel)]="selectedExperience" [showClear]="true" [autoWidth]="false">
            </p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="my-3">
      <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <p-dropdown [options]="salary" [(ngModel)]="selectedSalary" [showClear]="true" [autoWidth]="false">
            </p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-warning btn-md btn-block">Search</button>
  </div>
</div>