<p-card header="Filter">
  <form>
    <div class="form-group">
      <label for="skillsdescriptioncompany">Skills,Designation,Company</label>
      <input type="text" class="form-control" id="skillsdescriptioncompany" placeholder="">
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="location" placeholder="">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Experience</label>
      <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <p-dropdown [options]="experience" [(ngModel)]="selectedExperience" [showClear]="true" [autoWidth]="false">
            </p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Salary</label>
      <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <p-dropdown [options]="salary" [(ngModel)]="selectedSalary" [showClear]="true" [autoWidth]="false">
            </p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-warning btn-block">Search</button>
    </div>
  </form>
  <p-footer>

  </p-footer>
</p-card>