<!--Body Start-->
<div class="container-fluid">

    <a mdbBtn color="warning" size="lg" class="waves-light" (click)="frame.show()" mdbWavesEffect>Post New Job</a>

    <referMe-mypost></referMe-mypost>
    <referMe-mypost></referMe-mypost>
    <referMe-mypost></referMe-mypost>
    <referMe-mypost></referMe-mypost>


</div>
<!--Body End-->

<!--Post Job Modal Start-->
<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Post Job Opening</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form">
                    <input mdbInputDirective type="text" id="company" class="form-control">
                    <label for="company" class="">Company</label>
                </div>
                <div class="md-form">
                    <input mdbInputDirective type="text" id="jobtitle" class="form-control">
                    <label for="jobtitle" class="">Job Title</label>
                </div>
                <div class="md-form">
                    <input mdbInputDirective type="text" id="location" class="form-control">
                    <label for="location" class="">Location</label>
                </div>
                <div class="row">
                    <p-dropdown class="col-6" [options]="minExperience" [(ngModel)]="selectedMinExperience"
                        [showClear]="true"></p-dropdown>
                    <p-dropdown class="col-6" [options]="maxExperience" [(ngModel)]="selectedMaxExperience"
                        [showClear]="true"></p-dropdown>
                </div>
                <div class="md-form">
                    <textarea mdbInputDirective type="text" id="jobdesc" class="md-textarea form-control"
                        rows="3"></textarea>
                    <label for="jobdesc" class="">Job Description</label>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="warning" class="waves-light" mdbWavesEffect>Post
                    <i class="fa fa-paper-plane-o ml-1"></i>
                </button>
                <button mdbBtn color="default" class="waves-light" mdbWavesEffect (click)="frame.hide()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Post Job Modal End-->