<div class="card my-1">
  <div class="card-body">
    <h5 class="card-title">
      <span>SE</span>
      <span class="badge badge-pill badge-warning float-right">Add to list</span>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">Software Developer,Software Engineer,Programmer,Web Developer A3 Hiring</h6>
    <p class="card-text">
      Summary : Dear Candidate,Greetings From A3 Hiring !!We have Some Urgent Openings for "Software Engineer" for our
      clients based in Mumbai.Please carry your updat
      Key Skills : c++,Html,Xml,sql,Asp.net,PHP,Mysql,Ajax
    </p>
    <p>
      <button type="button" class="btn btn-outline-warning waves-effect">Refer Me</button>
    </p>
  </div>
</div>