<!--Navbar -->
<nav class="mb-4 navbar navbar-expand-lg navbar-dark warning-color-dark">
    <a class="navbar-brand font-bold" href="/">ReferMe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
        aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home/referrals"><i class="fa fa-briefcase" aria-hidden="true"></i>Jobs<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/posts"><i class="fa fa-telegram" aria-hidden="true"></i>Posts<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-3" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><i class="fa fa-bell"></i> Notification</a>
                <div class="dropdown-menu dropdown-menu-right dropdown-cyan">
                    <a class="dropdown-item" href="#">Vikas Singh sent you referral request</a>
                    <a class="dropdown-item" href="#">Vivek Rana sent you referral request</a>
                    <a class="dropdown-item" href="#">10 New job postings added</a>
                    <a class="dropdown-item" href="#">Elliot forwarded your referral</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><i class="fa fa-user"></i> John Doe </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-cyan">
                    <a class="dropdown-item" href="#">My Account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->