<section class="container-fluid">
  <div class="col-12">
    <p-table id="turbotable" [columns]="cols" [value]="users" [paginator]="true" [rows]="5" [responsive]="true"
      [autoLayout]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <span class="ui-column-title">{{ col.header }}</span>
            {{ rowData[col.field] }}
          </td>
          <td>
            <button type="button" class="btn btn-outline-secondary btn-sm m-1" (click)="editUser(rowData['UserID'])">
              Edit
            </button>
            <button type="button" class="btn btn-outline-danger btn-sm m-1" (click)="deleteUser(rowData['UserID'])">
              Delete
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>

<div bsModal #userDetailModal="bs-modal" class="custom-modal modal fade" tabindex="-1">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">User Details</h4>
        <span class="close-icon" (click)="hideModal()">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="32px" height="32px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;"
            xml:space="preserve">
            <circle style="fill:#ffc107;" cx="25" cy="25" r="25" />
            <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" points="16,34 25,25 34,16 
                   " />
            <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" points="16,16 25,25 34,34 
                   " />
          </svg>
        </span>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" name="firstname" [(ngModel)]="selectedUser.firstName" />
        </div>
        <div class="form-group">
          <label for="middlename">Middle Name</label>
          <input type="text" class="form-control" name="middlename" [(ngModel)]="selectedUser.middleName" />
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" name="lastname" [(ngModel)]="selectedUser.lastName" />
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="selectedUser.emailAddress" readonly />
        </div>
        <div class="form-group">
          <label for="email">Mobile</label>
          <input type="mobile" class="form-control" name="mobile" [(ngModel)]="selectedUser.mobile" />
        </div>
        <div class="form-group">
          <label for="minExp">Role</label><br />
          <p-dropdown id="minExp" [options]="roles" [(ngModel)]="selectedUser.roleId"
            [ngModelOptions]="{ standalone: true }">
          </p-dropdown>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning mr-1" (click)="updateUser()">
          Update
        </button>
        <button type="button" class="btn btn-light mr-1" (click)="hideModal()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>