<section class="container">
  <p-table [columns]="cols" [value]="users" [paginator]="true" [rows]="10" [responsive]="true" [autoLayout]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <span class="ui-column-title">{{col.header}}</span>
          {{rowData[col.field]}}
        </td>
        <td>
          <button type="button">Edit</button>
          <button type="button" (click)="deleteUser(rowData['UserID'])">Delete</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>