<!--Body Start-->
<section class="container-fluid">
  <div class="col-12">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mb-2">
        <p-card header="Filter ({{totallFilteredJobCount}} Jobs)">
          <div class="job-filter-card">
            <div class="form-group">
              <label>Keywords</label>
              <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-12">
                    <p-chips [(ngModel)]="this.jobFilter.keywords" [addOnTab]="true" [addOnBlur]="true"
                      [ngModelOptions]="{standalone: true}"></p-chips>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Company</label>
              <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-12">
                    <p-autoComplete [(ngModel)]="this.jobFilter.company" [suggestions]="companies"
                      (completeMethod)="searchCompany($event)" [ngModelOptions]="{standalone: true}"></p-autoComplete>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Location</label>
              <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-12">
                    <p-autoComplete [(ngModel)]="this.jobFilter.location" [suggestions]="locations"
                      (completeMethod)="searchLocation($event)" [ngModelOptions]="{standalone: true}">
                    </p-autoComplete>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Min Exp</label>
              <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-12">
                    <p-dropdown [options]="experienceOptions" [(ngModel)]="this.jobFilter.minExp"
                      [ngModelOptions]="{standalone: true}">
                    </p-dropdown>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Max Exp</label>
              <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-12">
                    <p-dropdown [options]="experienceOptions" [(ngModel)]="this.jobFilter.maxExp"
                      [ngModelOptions]="{standalone: true}">
                    </p-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p-footer>
            <button pButton type="button" label="Search" class="mr-2 ui-button-raised ui-button-warning"
              (click)="refreshJobs()"></button>
            <button pButton type="button" label="Clear" class="ui-button-raised ui-button-secondary"
              (click)="clearFilter()"></button>
          </p-footer>
        </p-card>
      </div>
      <!--Filters-->
      <!--Referrals-->
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div>
          <ng-container *ngFor="let userPostDetail of userPostDetails">
            <referMe-job [userPostDetail]="userPostDetail"></referMe-job>
          </ng-container>
        </div>
        <p-paginator id="turbotable" [rows]="10" [totalRecords]="totallFilteredJobCount"
          (onPageChange)="paginate($event)"></p-paginator>
      </div>
    </div>
  </div>
</section>
<!--Body End-->