<!--Body Start-->
<section class="container-fluid">
  <div class="col-12">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mb-2">
        <p-card header="Filter ({{userPostDetails.length}} Jobs)">
          <form>
            <div class="form-group">
              <p class="h6">Company</p>
              <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-12">
                    <p-autoComplete [(ngModel)]="this.jobFilter.company" [suggestions]="companies"
                      (completeMethod)="searchCompany($event)" [ngModelOptions]="{standalone: true}"></p-autoComplete>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <p class="h6">Location</p>
              <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-12">
                    <p-autoComplete [(ngModel)]="this.jobFilter.location" [suggestions]="locations"
                      (completeMethod)="searchLocation($event)" [ngModelOptions]="{standalone: true}">
                    </p-autoComplete>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <p class="h6">Min Exp</p>
              <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-12">
                    <p-dropdown [options]="experienceOptions" [(ngModel)]="this.jobFilter.minExp"
                      [ngModelOptions]="{standalone: true}">
                    </p-dropdown>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <p class="h6">Max Exp</p>
              <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-12">
                    <p-dropdown [options]="experienceOptions" [(ngModel)]="this.jobFilter.maxExp"
                      [ngModelOptions]="{standalone: true}">
                    </p-dropdown>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-warning btn-block" (click)="fetchJobPosts()">
                Search
              </button>
            </div>
          </form>
          <p-footer> </p-footer>
        </p-card>
      </div>
      <!--Filters-->
      <!--Referrals-->
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div>
          <ng-container *ngFor="let userPostDetail of userPostDetails">
            <referMe-job [userPostDetail]="userPostDetail"></referMe-job>
          </ng-container>
        </div>
        <p-paginator id="turbotable" [rows]="5" [totalRecords]="26" (onPageChange)="paginate($event)"></p-paginator>
      </div>
    </div>
  </div>
</section>
<!--Body End-->