.custombar1 .ui-scrollpanel-wrapper {
    border-right: 9px solid #f4f4f4;
}
    
.custombar1 .ui-scrollpanel-bar {
    background-color: #ffc107 ;
    opacity: 1;
    transition: background-color .3s;
}
    
.custombar1 .ui-scrollpanel-bar:hover {
    background-color: #135ba1;
}