<!--Body Start-->
<section class="container-fluid">
  <div class="col-12">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mb-2">
        <div class="mb-2">
          <p-card>
            <button
              type="button"
              class="btn btn-outline-warning"
              (click)="openModal()"
            >
              Post New Job
            </button>
          </p-card>
        </div>
        <div>
          <p-card header="Filter">
            <form>
              <div class="form-group">
                <label
                  for="skillsdescriptioncompany"
                  style="word-break: break-all;"
                  >Skills,Designation,Company</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="skillsdescriptioncompany"
                  placeholder=""
                />
              </div>
              <div class="form-group">
                <label for="location">Location</label>
                <input
                  type="text"
                  class="form-control"
                  id="location"
                  placeholder=""
                />
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Experience</label>
                <div class="ui-grid ui-grid-responsive ui-fluid">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                      <p-dropdown
                        [options]="experience"
                        name="test"
                        [(ngModel)]="selectedExperience"
                        [showClear]="true"
                        [autoWidth]="false"
                      >
                      </p-dropdown>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Salary</label>
                <div class="ui-grid ui-grid-responsive ui-fluid">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                      <p-dropdown
                        [options]="salary"
                        name="test2"
                        [(ngModel)]="selectedSalary"
                        [showClear]="true"
                        [autoWidth]="false"
                      >
                      </p-dropdown>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-warning btn-block">
                  Search
                </button>
              </div>
            </form>
            <p-footer> </p-footer>
          </p-card>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div>
          <ng-container *ngFor="let myPost of myPosts">
            <referMe-my-post
              [postDetail]="myPost"
              (notifyPostDelete)="fetchMyPosts()"
            ></referMe-my-post>
          </ng-container>
        </div>
        <p-paginator
          id="turbotable"
          [rows]="5"
          [totalRecords]="26"
          (onPageChange)="paginate($event)"
        ></p-paginator>
      </div>
    </div>
  </div>
</section>
<!--Body End-->

<!--Post Job Modal Start-->
<p-sidebar
  [(visible)]="display"
  position="right"
  [showCloseIcon]="false"
  [blockScroll]="true"
  styleClass="ui-sidebar-md custom-sidebar"
>
  <div class="sidebar-header">
    <p class="h5"><strong>Post Job Opening</strong></p>
  </div>
  <div class="sidebar-body">
    <div class="form-group">
      <p class="h6">Position</p>
      <input
        type="text"
        class="form-control"
        name="position"
        [(ngModel)]="postDetail.position"
      />
    </div>
    <div class="form-group form-row">
      <div class="col">
        <p class="h6">Company</p>
        <div class="ui-grid ui-grid-responsive ui-fluid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <p-autoComplete
                [(ngModel)]="postDetail.company"
                [suggestions]="companies"
                (completeMethod)="searchCompany($event)"
              ></p-autoComplete>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <p class="h6">Min Exp</p>
        <div class="ui-grid ui-grid-responsive ui-fluid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <p-dropdown
                id="minExp"
                [options]="experienceOptions"
                [(ngModel)]="postDetail.minExp"
              >
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <p class="h6">Max Exp</p>
        <div class="ui-grid ui-grid-responsive ui-fluid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <p-dropdown
                id="maxExp"
                [options]="experienceOptions"
                [(ngModel)]="postDetail.maxExp"
              >
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group form-row">
      <div class="col">
        <p class="h6">Location</p>
        <div class="ui-grid ui-grid-responsive ui-fluid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <p-autoComplete
                [(ngModel)]="postDetail.location"
                [suggestions]="locations"
                (completeMethod)="searchLocation($event)"
              ></p-autoComplete>
            </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="form-group">
      <p class="h6">Job Description</p>
      <p-editor
        [(ngModel)]="postDetail.description"
        [style]="{ height: '320px' }"
      ></p-editor>
    </div>
  </div>
  <div class="sidebar-footer">
    <button type="button" class="btn btn-warning mr-1" (click)="postJob()">
      Post
    </button>
    <button type="button" class="btn btn-light mr-1" (click)="display = false">
      Close
    </button>
  </div>
</p-sidebar>
<!--Post Job Modal End-->
