<!--Job Referral Start-->
<div class="card m-1">
  <div class="card-body">
    <div class="row">
      <div class="col-1">
        <img src="assets/images/default-comanylogo.png" class="img-responsive img-rounded" height="42" width="42">
      </div>
      <div class="col-11">
        <h5 class="card-title">
          <span>Adobe</span>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">Software Developer,Software Engineer,Programmer,Web Developer A3
          Hiring</h6>
        <p class="card-text">
          Summary : Dear Candidate,Greetings From A3 Hiring !!We have Some Urgent Openings for "Software Engineer" for
          our
          clients based in Mumbai.Please carry your updat
          Key Skills : c++,Html,Xml,sql,Asp.net,PHP,Mysql,Ajax
        </p>
        <div>
          <span class="text-muted">Referral request received :</span>
          <hr>
          <div>
            <span><b>Pawan Kumar Singh</b></span>
            <span> Manager at Adobe , Noida</span>
          </div>
          <hr>
          <div>
            <span><b>Pawan Kumar Singh</b></span>
            <span> Manager at Adobe , Noida</span>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Job Referral End-->