<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <mdb-card>
                <mdb-card-header>Job openings in last month</mdb-card-header>
                <mdb-card-body>
                    <mdb-card-title>
                        <h5></h5>
                    </mdb-card-title>
                    <p-chart type="pie" [data]="data"></p-chart>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>