<section class="container-fluid">
    <div class="col-12">
        <div class="row">
            <p-card styleClass="dashboard-card">
                <div class="overview-box clearfix">
                    <div class="icon">

                    </div>
                    <div class="text">
                        <h2>10368</h2>
                        <span>members online</span>
                    </div>
                </div>
            </p-card>
            <p-card styleClass="dashboard-card">
                <div class="overview-box clearfix">
                    <div class="icon">

                    </div>
                    <div class="text">
                        <h2>10368</h2>
                        <span>members online</span>
                    </div>
                </div>
            </p-card>
            <p-card styleClass="dashboard-card">
                <div class="overview-box clearfix">
                    <div class="icon">

                    </div>
                    <div class="text">
                        <h2>10368</h2>
                        <span>members online</span>
                    </div>
                </div>
            </p-card>
            <p-card styleClass="dashboard-card">
                <div class="overview-box clearfix">
                    <div class="icon">

                    </div>
                    <div class="text">
                        <h2>10368</h2>
                        <span>members online</span>
                    </div>
                </div>
            </p-card>
            <p-card styleClass="dashboard-card">
                <div class="overview-box clearfix">
                    <div class="icon">

                    </div>
                    <div class="text">
                        <h2>10368</h2>
                        <span>members online</span>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</section>